{% extends './base.html' %}


{% block content %}
<div class="cony">
    <form method="post" class='my-form' style="direction: rtl; margin-right:200px;">{% csrf_token %}
        <p>
            <label for="id_old_password">پسورد قدیمی:</label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="inp">
            
            
          </p>
        
          
          <p>
            <label for="id_new_password1">پسورد جدید:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="inp">
            
              <span class="helptext"><ul class="list"><li>کلمه ی عبور شما نباید شبیه اطلاعات دیگر شما باشد</li><li>کلمه ی عبور شما باید حداقل 8 کاراکتر باشد.</li><li>کلمه ی عبور شما نباید ساده و رایج باشد</li><li>کلمه ی عبور شما نباید کاملا عددی باشد.</li></ul></span>
            
            
          </p>
        
          
          <p>
            <label for="id_new_password2">تایید پسورد جدید:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="inp">
            
            
              
            
          </p>
          <p>
            <input type="submit" value="تغییر گذرواژه" class="btn btn-danger">
            <button class='btn btn-secondary'><a href="{% url 'profile' user.pk %}">بازگشت</a></button>
          </p>

    </form>
</div>
   
    
    {% if form.errors %}
    <h2>خطا ها:</h2>
    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{error}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}



    <style>
        .my-form{
            margin-top: 200px;
            position: relative;
            background-color: rgb(3, 70, 44);
            padding: 20px;
            margin-right: -300px;
            color: white;
            border-radius: 15px;
            border: 1px solid black;
         
           
        }
        .list{
            position: absolute;
           
            left: 10px;
            bottom: 48px;
            padding: 10px;

        }
        body{
            background-color: rgb(52, 150, 120);
        }
        .list li{
            padding-top: 10px;
            font-size: large;
        }
        .inp{
            width: 340px;
            border-radius: 10px;
            border: none;
            border-bottom: 2px solid rgb(0, 128, 79);
            background-color:rgb(3, 70, 44); 
            margin-top: 10px;
        }
        .inp:focus{
            border: none;
        }
        a:link{
            color: white;
        }
        a:visited{
            color : white;
        }
        a{
            text-decoration: none;
        }
       
    </style>
{% endblock content %}
    