{% extends '../base.html' %}


{% block content %}
<div class="cony">
    <form method="post" class='my-form' style="direction: rtl; margin-right:200px;">{% csrf_token %}
       <h4>تبریک! مراحل بازیابی به درستی انجام شد. اکنون میتوانید گذرواژه ی جدید خود را ثبت کنید.</h4>
      {{form}}
      <input type="submit" value="تغییر گذرواژه ی من" class="btn btn-danger">
   
    </form>

   
</div>
   
    
   



    <style>
        .my-form{
            margin-top: 200px;
            position: relative;
            background-color: rgb(3, 70, 44);
            padding: 20px;
            margin-right: -300px;
            color: white;
            border-radius: 15px;
            border: 1px solid black;
         
           
        }
        .list{
            position: absolute;
           
            left: 10px;
            bottom: 48px;
            padding: 10px;

        }
        body{
            background-color: rgb(52, 150, 120);
        }
        .list li{
            padding-top: 10px;
            font-size: large;
        }
        #id_new_password1 , #id_new_password2{
            width: 340px;
            border-radius: 10px;
            border: none;
            border-bottom: 2px solid rgb(0, 128, 79);
            background-color:rgb(3, 70, 44); 
            margin-top: 10px;
        }
        .inp:focus{
            border: none;
        }
        a:link{
            color: white;
        }
        a:visited{
            color : white;
        }
        h5{
            direction: rtl;
            margin-top: 25px;
        }
        .my-form input{
            margin-top: 25px;
        }
        .helptext ul{
            margin-top: 15px;
        }
        
       
    </style>
{% endblock content %}
    